@model MCRental_Models.Reservatie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservatie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EindDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EindDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gebruiker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gebruiker.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auto.Merk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aanmaking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aanmaking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annulatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annulatie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
